<div class="max-w-6xl mx-auto bg-white shadow rounded p-6 mt-6 text-xs">
    <h2 class="text-lg font-semibold text-primary mb-6">Configuración de la Empresa y Secuencias</h2>

    <form [formGroup]="form" (ngSubmit)="save()" class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- Columna 1: Empresa -->
        <div class="space-y-3">

            <h3 class="text-sm font-semibold text-gray-700">Datos de la Empresa</h3>

            <div>
                <label class="block font-medium mb-1">Razón Social</label>
                <input type="text" formControlName="businessname" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['businessname'].invalid && submitted" />
                <small *ngIf="f['businessname'].invalid && submitted" class="text-red-500">Campo
                    requerido</small>
            </div>

            <div>
                <label class="block font-medium mb-1">RUC</label>
                <input appOnlyNumbers type="text" formControlName="ruc" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['ruc'].invalid && submitted" />
                <small *ngIf="f['ruc'].errors?.['required'] && submitted" class="text-red-500">Campo
                    requerido</small>
                <small *ngIf="f['ruc'].errors?.['pattern'] && submitted" class="text-red-500">Debe tener 13
                    dígitos</small>
            </div>

            <div>
                <label class="block font-medium mb-1">Dirección</label>
                <input type="text" formControlName="address" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['address'].invalid && submitted" />
                <small *ngIf="f['address'].invalid && submitted" class="text-red-500">Campo requerido</small>
            </div>

            <div>
                <label class="block font-medium mb-1">Teléfono</label>
                <input type="text" formControlName="phone" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['phone'].invalid && submitted" />
                <small *ngIf="f['phone'].invalid && submitted" class="text-red-500">Campo requerido</small>
            </div>

            <div>
                <label class="block font-medium mb-1">Email</label>
                <input type="email" formControlName="email" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['email'].invalid && submitted" />
                <small *ngIf="f['email'].errors?.['required'] && submitted" class="text-red-500">Campo
                    requerido</small>
                <small *ngIf="f['email'].errors?.['email'] && submitted" class="text-red-500">Correo
                    inválido</small>
            </div>


        </div>

        <!-- Columna 2: Secuencias -->
        <div class="space-y-3">

            <h3 class="text-sm font-semibold text-gray-700">SRI</h3>

            <label class="inline-flex items-center cursor-pointer relative">
                <input type="checkbox" class="sr-only peer" formControlName="ambiente" (change)="cambiarAmbiente()" />

                <!-- Switch -->
                <div class="w-11 h-6 bg-gray-300 rounded-full peer-checked:bg-green-600 transition-colors"></div>
                <div
                    class="absolute w-5 h-5 bg-white rounded-full transform translate-x-1 top-0.5 left-0.5 peer-checked:translate-x-5 transition-transform">
                </div>

                <!-- Texto del ambiente -->
                <div>
                    <span class="ml-3 text-lg font-semibold"
                        [ngClass]="ambiente === 'PRODUCCION' ? 'text-green-700' : 'text-yellow-600'">
                        Ambiente: {{ ambiente }}
                    </span>
                </div>
            </label>
            <div>
                <label class="block font-medium mb-1">Código Establecimiento</label>
                <input type="text" formControlName="establishmentcode" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['establishmentcode'].invalid && submitted" />
                <small *ngIf="f['establishmentcode'].errors?.['required'] && submitted" class="text-red-500">Campo
                    requerido</small>
                <small *ngIf="f['establishmentcode'].errors?.['pattern'] && submitted" class="text-red-500">3
                    dígitos</small>
            </div>

            <div>
                <label class="block font-medium mb-1">Punto Emisión</label>
                <input type="text" formControlName="emissionpoint" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['emissionpoint'].invalid && submitted" />
                <small *ngIf="f['emissionpoint'].errors?.['required'] && submitted" class="text-red-500">Campo
                    requerido</small>
                <small *ngIf="f['emissionpoint'].errors?.['pattern'] && submitted" class="text-red-500">3
                    dígitos</small>
            </div>
            <div>
                <label class="block font-medium mb-1">Secuencial Factura (PRODUCCIÓN)</label>
                <input type="number" formControlName="invoiceseq_prod" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['invoiceseq_prod'].invalid && submitted" />
                <small *ngIf="f['invoiceseq_prod'].invalid && submitted" class="text-red-500">Campo
                    requerido</small>
            </div>
            <div>
                <label class="block font-medium mb-1">Secuencial Factura(PRUEBAS)</label>
                <input type="number" formControlName="invoiceseq_pruebas" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['invoiceseq_pruebas'].invalid && submitted" />
                <small *ngIf="f['invoiceseq_pruebas'].invalid && submitted" class="text-red-500">Campo
                    requerido</small>
            </div>

            <div>
                <label class="block font-medium mb-1">Secuencia Nota de Venta</label>
                <input type="number" formControlName="salenoteseq" class="w-full border rounded px-2 py-1"
                    [class.border-red-500]="f['salenoteseq'].invalid && submitted" />
                <small *ngIf="f['salenoteseq'].invalid && submitted" class="text-red-500">Campo
                    requerido</small>
            </div>

            <!-- Puedes agregar más secuencias aquí si lo deseas -->
        </div>

        <!-- Botón único -->
        <div class="md:col-span-2 pt-4">
            <button type="submit"
                class="w-full bg-primary text-white px-4 py-2 rounded font-semibold text-sm hover:bg-primary/90">
                Guardar Configuración
            </button>
        </div>
    </form>
</div>