<div class="container bg-primary-foreground mx-auto my-8 px-4 p-3">

  <!-- Header y botón -->
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h2 class="text-2xl font-semibold text-primary">Órdenes</h2>
      <div class="text-muted-foreground space-x-1 text-xs font-medium">
        <a class="hover:text-primary"># Registros:</a>
        <span class="text-foreground">{{ totalOrders}}</span>
      </div>
    </div>
    <!-- Si se desea un botón: -->
    <!--
    <div class="inline-block space-x-4">
      <button class="bg-primary text-white rounded-md px-4 py-2.5 text-xs font-semibold" (click)="abrirModalNuevaOrden()">
        + Nueva Orden
      </button>
    </div>
    -->
  </div>

  <!-- Filtro -->
  <!-- <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar órdenes..."
    class="mb-4 w-full border rounded px-4 py-2 text-sm" /> -->

  <!-- Tabla de órdenes -->
  <ng-container *ngIf="ordersFiltradosList.length > 0; else emptyOrders">
    <div class="overflow-x-auto rounded-lg shadow-md">
      <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
        <thead class="bg-gray-100 sticky top-0 z-10">
          <tr>
            <th class="p-3 text-left font-medium text-gray-700">N° Orden</th>
            <th class="p-3 text-left font-medium text-gray-700">Cliente</th>
            <th class="p-3 text-left font-medium text-gray-700">IVA</th>
            <th class="p-3 text-left font-medium text-gray-700">Total</th>
            <th class="p-3 text-left font-medium text-gray-700">Tipo</th>
            <th class="p-3 text-left font-medium text-gray-700">Estado SRI</th>
            <th class="p-3 text-left font-medium text-gray-700">Acciones</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <tr *ngFor="let order of ordersFiltradosList" class="hover:bg-gray-50 transition">
            <td class="p-3 text-gray-800">{{ order.name }}</td>
            <td class="p-3 text-gray-800">{{ order.customer.fullName }}</td>
            <td class="p-3 text-gray-800">${{ order.iva }}</td>
            <td class="p-3 font-semibold text-gray-800">${{ order.total }}</td>
            <td class="p-3">
              <span class="text-xs font-medium px-2 py-1 rounded">
                {{ order.type}}
              </span>
            </td>
            <td class="p-3">
              <span class="text-xs font-medium px-2 py-1 rounded" [ngClass]="{
                  'bg-yellow-100 text-yellow-800': order.estado_sri !== 'AUTORIZADO',
                  'bg-green-100 text-green-800': order.estado_sri === 'AUTORIZADO'
                }">
                {{ order.estado_sri}}
              </span>
            </td>


            <td class="p-3">
              <button class="text-blue-600 hover:text-blue-800 font-medium transition"
                (click)="toggleOrderDetail(order)">
                🔍Detalle
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mt-4 flex justify-center items-center gap-4">
        <button (click)="prevPage()" [disabled]="page === 1" class="px-3 py-1 bg-gray-200 rounded">« Anterior</button>
        <span>Página {{ page }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages" class="px-3 py-1 bg-gray-200 rounded">Siguiente
          »</button>
      </div>

    </div>
  </ng-container>

  <ng-template #emptyOrders>
    <p class="text-center text-gray-500">No hay órdenes para mostrar.</p>
  </ng-template>

  <!-- MODAL DETALLE DE ORDEN -->
  <div *ngIf="mostrarModal" class="fixed inset-0 bg-black/30 flex items-center justify-center z-50">
    <div class="bg-white w-full max-w-2xl rounded shadow-lg p-6 relative max-h-[90vh] overflow-y-auto">
      <button class="absolute top-2 right-3 text-xl" (click)="cerrarModal()">×</button>
      <h3 class="text-lg font-semibold mb-4">Detalle del Pedido #{{ orderSelected.name }}</h3>

      <button class=" bg-green-600 text-white rounded-md px-4 py-2.5 text-xs font-semibold mr-3" (click)="getComandaPdf()">
        Imprimir Comanda </button>
         <button *ngIf="orderSelected.type === 'Nota de venta' " class=" bg-amber-400 text-black rounded-md px-4 py-2.5 text-xs font-semibold" (click)="getNotaVentaPdf()">
        Descargar Nota </button>
         <button *ngIf="orderSelected.type != 'Nota de venta' " class=" bg-amber-400 text-black rounded-md px-4 py-2.5 text-xs font-semibold" (click)="getFacturaPdf()">
        Descargar Factura </button>

      <div class="grid md:grid-cols-2 gap-6 mb-6">
        <!-- Información del Pedido -->
        <div>
          <h4 class="text-base font-semibold text-gray-700 mb-2">🧾 Información del Pedido</h4>
          <ul class="text-sm text-gray-700 space-y-1">
            <li><strong>ID:</strong> {{ orderSelected.name }}</li>
            <li><strong>Tipo:</strong> {{ orderSelected.type | titlecase }}</li>
            <li><strong>Fecha:</strong> {{ orderSelected.createdAt | ecuadorTime }}</li>
            <li><strong>Subtotal:</strong> {{ orderSelected.subtotal | currency }}</li>
            <li><strong>IVA:</strong> {{ orderSelected.iva | currency }}</li>
            <li><strong>Total:</strong> <span class="text-green-700 font-semibold">{{ orderSelected.total | currency
                }}</span></li>
          </ul>
        </div>

        <!-- Cliente -->
        <div>
          <h4 class="text-base font-semibold text-gray-700 mb-2">👤 Cliente</h4>
          <ul class="text-sm text-gray-700 space-y-1">
            <li><strong>Nombre:</strong> {{ orderSelected.customer.fullName }}</li>
            <li><strong>Cédula/RUC:</strong> {{ orderSelected.customer.identification }}</li>
            <li><strong>Tipo ID:</strong> {{ orderSelected.customer.identificationType }}</li>
            <li><strong>Email:</strong> {{ orderSelected.customer.email }}</li>
            <li><strong>Teléfono:</strong> {{ orderSelected.customer.phone }}</li>
            <li><strong>Dirección:</strong> {{ orderSelected.customer.address }}</li>
          </ul>
        </div>
      </div>

      <!-- Productos del Pedido -->
      <div>
        <h4 class="text-base font-semibold text-gray-700 mb-2">📦 Productos del Pedido</h4>
        <div class="overflow-x-auto max-h-[50vh] overflow-y-auto">
          <table class="w-full text-sm border border-gray-200 rounded-lg ">
            <thead class="bg-gray-100">
              <tr>
                <th class="p-2 text-left">Producto</th>
                <th class="p-2 text-left">Cantidad</th>
                <th class="p-2 text-left">Precio Unitario</th>
                <th class="p-2 text-left">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderSelected.items" class="border-t hover:bg-gray-50 ">
                <td class="p-2">{{ item.productName }}</td>
                <td class="p-2">{{ item.quantity }}</td>
                <td class="p-2">{{ item.price | currency }}</td>
                <td class="p-2 font-medium">{{ item.total | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>