<!-- CONTENEDOR PRINCIPAL -->
<div class=" bg-background flex flex-col">
    <div class="container mx-auto px-4 py-4 flex-grow flex flex-col">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 flex-grow">


            <!-- PRODUCTOS -->
            <div class="col-span-2 flex flex-col  overflow-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Columna 1: Cliente -->
                    <div>
                        <h2 class="text-lg font-semibold text-primary mb-2">Cliente</h2>

                        <div class="flex items-center gap-2 mb-2">
                            <input type="text" maxlength="10" appOnlyNumbers [(ngModel)]="identificationCustomer"
                                placeholder="Ingrese el número de cédula"
                                class="rounded  px-3 py-1 text-xs disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed"
                                [disabled]="customer" />



                            <button (click)="findByIdentificationCustomer()"
                                class="bg-primary text-white text-xs px-2 py-1 rounded hover:bg-primary/90 transition"
                                title="Buscar cliente">
                                <fa-icon icon="search"></fa-icon>
                            </button>

                            <button (click)="identificationCustomer = '' ; customer = null"
                                class="bg-red-500 text-white text-xs px-2 py-1 rounded hover:bg-red-600 transition"
                                title="Limpiar">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>

                        <div class="text-xs text-muted-foreground space-y-0.5">
                            <p>{{ customer?.fullName }}</p>
                            <p>{{ customer?.email }}</p>
                        </div>
                    </div>

                    <!-- Columna 2: Acciones rápidas -->
                    <div class="flex gap-2 items-start md:justify-end">
                        <button (click)="showCustomerModal = true"
                            class="bg-primary text-white text-xs px-3 py-1 rounded hover:bg-primary/90 transition"
                            title="Nuevo cliente">
                            <fa-icon icon="user-plus"></fa-icon>
                        </button>

                        <button class="bg-primary text-white text-xs px-3 py-1 rounded hover:bg-primary/90 transition"
                            (click)="selectFinalConsumer()">
                            Consumidor Final
                        </button>
                    </div>
                </div>



                <!-- <input type="text" placeholder="Buscar productos..." [(ngModel)]="searchTerm"
                    class="w-1/2 rounded border px-3 py-1 text-xs" /> -->
                <div class="overflow-x-auto whitespace-nowrap py-2">
                    <h2 class="text-lg font-semibold text-primary">Productos</h2>
                    
                    <div class="inline-flex gap-2">
                        <button (click)="selectedCategory = ''" [class.bg-primary]="selectedCategory === ''"
                            class="text-xs px-3 py-1 border rounded hover:bg-primary hover:text-white transition shrink-0">
                            Todos
                        </button>
                        <button *ngFor="let category of categories" (click)="selectedCategory = category"
                            [class.bg-primary]="selectedCategory === category"
                            class="text-xs px-3 py-1 border rounded hover:bg-primary hover:text-white transition shrink-0">
                            {{ category.replace('_', ' ') }}
                        </button>

                    </div>
                </div>




                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3">
                    <div *ngFor="let product of filteredProducts()" (click)="addProduct(product)"
                        class="cursor-pointer rounded border p-2 shadow-sm hover:bg-muted transition text-xs">
                        <h3 class="font-medium text-foreground">{{ product.name }}</h3>
                        <p class="text-muted-foreground">${{ product.price | number: '1.2-2' }}</p>
                    </div>
                </div>
            </div>

            <!-- RESUMEN DEL PEDIDO -->
            <div class="flex flex-col  h-full overflow-auto text-xs">
                <h2 class="text-lg font-semibold text-primary">Resumen</h2>

                <ng-container *ngIf="cart.length > 0; else emptyCart">
                    <div class="flex-grow overflow-auto space-y-1">
                        <div *ngFor="let item of cart" class="flex justify-between items-center border-b py-1">
                            <span class="font-medium text-foreground">
                                {{ item.name }} <span class="text-foreground font-normal">x{{ item.quantity }}</span>
                            </span>
                            <div class="flex items-center gap-2">
                                <button (click)="decrease(item)"
                                    class="w-6 h-6 rounded-full border text-foreground hover:bg-gray-100 flex items-center justify-center"
                                    title="Disminuir cantidad">
                                    <fa-icon icon="minus"></fa-icon>
                                </button>
                                <span class="w-5 text-center font-semibold">{{ item.quantity }}</span>
                                <button (click)="increase(item)"
                                    class="w-6 h-6 rounded-full border text-foreground hover:bg-gray-100 flex items-center justify-center"
                                    title="Aumentar cantidad">
                                    <fa-icon icon="plus"></fa-icon>
                                </button>

                                <strong class="ml-2 text-foreground">${{ item.total | number: '1.2-2' }}</strong>
                            </div>
                        </div>
                    </div>



                    <!-- MÉTODO DE PAGO -->
                    <div class=" pt-4">

                        <h2 class="text-lg font-semibold text-primary">Método de Pago</h2>
                        <select [(ngModel)]="paymentMethod"
                            class="w-full border rounded px-2 py-1 text-xs text-foreground">
                            <option value="efectivo">Efectivo</option>
                            <option value="transferencia">Transferencia</option>
                        </select>
                    </div>

                    <!-- TOTALES -->
                    <div class="border-t pt-4 space-y-1 text-xs text-foreground">
                        <p>Subtotal: ${{ subtotal | number: '1.2-2' }}</p>
                        <p>IVA (12%): ${{ iva | number: '1.2-2' }}</p>
                        <p class="text-base font-bold">Total: ${{ total | number: '1.2-2' }}</p>
                    </div>


                    <!-- BOTONES -->
                    <div class="space-y-2">
                        <!-- <button (click)="finalizarVenta()" 
                            class="w-full rounded bg-primary px-4 py-2 text-white font-semibold hover:bg-primary/90 text-sm">
                            Facturar
                        </button> -->
                        <button (click)="finalizarVenta()" 
                            class="w-full rounded bg-primary px-4 py-2 text-white font-semibold hover:bg-primary/90 text-sm">
                            Nota de Venta
                        </button>
                    </div>
                </ng-container>

                <ng-template #emptyCart>
                    <p class="text-xs text-muted-foreground">Aún no hay productos en la venta.</p>
                </ng-template>

            </div>

        </div>
    </div>
</div>

<!-- MODAL DE NUEVO CLIENTE -->
<div *ngIf="showCustomerModal" class="fixed inset-0 bg-black/30 flex items-center justify-center z-50">
    <div class="bg-white w-full max-w-md rounded shadow-lg p-4 text-xs relative">
        <button class="absolute top-2 right-3 text-lg" (click)="showCustomerModal = false">×</button>
        <h3 class="text-base font-semibold mb-2">Nuevo Cliente</h3>

        <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()" class="space-y-4">
            <!-- Nombre / Razón Social -->
            <div>
                <label class="block text-sm font-medium">Nombre / Razón Social</label>
                <input type="text" formControlName="fullName" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['fullName'].invalid && submitted" class="text-red-500 text-sm">
                    Campo requerido.
                </div>
            </div>

            <!-- Tipo -->
            <div>
                <label class="block text-sm font-medium">Tipo</label>
                <select formControlName="identificationType" class="w-full border rounded px-3 py-2 text-sm">
                    <option value="06">Consumidor Final</option>
                    <option value="04">Cédula</option>
                    <option value="05">RUC</option>
                </select>
                <div *ngIf="f['identificationType'].invalid && submitted" class="text-red-500 text-sm">
                    Seleccione un tipo válido.
                </div>
            </div>

            <!-- Identificación -->
            <div>
                <label class="block text-sm font-medium">Identificación</label>
                <input type="text" formControlName="identification" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['identification'].invalid && submitted" class="text-red-500 text-sm">
                    Campo requerido.
                </div>
            </div>


            <!-- Email -->
            <div>
                <label class="block text-sm font-medium">Email</label>
                <input type="email" formControlName="email" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['email'].invalid && submitted" class="text-red-500 text-sm">
                    Email inválido.
                </div>
            </div>

            <!-- Teléfono -->
            <div>
                <label class="block text-sm font-medium">Teléfono</label>
                <input type="text" formControlName="phone" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['phone'].invalid && submitted" class="text-red-500 text-sm">
                    Dirección inválido.
                </div>
            </div>

             <!-- Dirección -->
             <div>
                <label class="block text-sm font-medium">Dirección</label>
                <input type="text" formControlName="address" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['address'].invalid && submitted" class="text-red-500 text-sm">
                    Dirección inválido.
                </div>
            </div>

            <!-- Botón -->
            <div class="pt-2">
                <button type="submit" class="bg-primary text-white px-4 py-2 rounded w-full disabled:opacity-50"
                    >
                    Guardar
                </button>
            </div>
        </form>


    </div>
</div>