<!-- CONTENEDOR PRINCIPAL -->
<div class=" bg-background flex flex-col">
    <div class="container mx-auto px-4 py-4 flex-grow flex flex-col">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 flex-grow">


            <!-- PRODUCTOS -->
            <div class="col-span-2 flex flex-col  overflow-auto">
                <!-- Contenedor Cliente -->
                <div class="space-y-3">
                    <!-- Encabezado: Título + Acciones -->
                    <div class="flex items-center justify-between gap-3">
                        <h2 class="text-xl font-semibold text-primary">Cliente</h2>

                        <!-- Acciones rápidas -->
                        <div class="flex gap-2">
                            <button (click)="showCustomerModal = true"
                                class="bg-primary text-white text-sm px-3 py-2 rounded hover:bg-primary/90 transition"
                                title="Nuevo cliente">
                                <fa-icon icon="user-plus"></fa-icon>
                            </button>

                            <button
                                class="bg-primary text-white text-sm px-3 py-2 rounded hover:bg-primary/90 transition"
                                (click)="selectFinalConsumer()">
                                Consumidor Final
                            </button>
                        </div>
                    </div>

                    <!-- Buscador (input + botones) -->
                    <div class="flex items-stretch gap-2">
                        <input type="text" maxlength="13" appOnlyNumbers [(ngModel)]="identificationCustomer"
                            placeholder="Ingrese el número de cédula"
                            class="flex-1 min-w-0 rounded px-4 py-2 text-sm disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed"
                            [disabled]="customer" />

                        <button (click)="findByIdentificationCustomer()"
                            class="bg-primary text-white text-sm px-3 py-2 rounded hover:bg-primary/90 transition"
                            title="Buscar cliente">
                            <fa-icon icon="search"></fa-icon>
                        </button>

                        <button (click)="identificationCustomer = '' ; customer = null"
                            class="bg-red-500 text-white text-sm px-3 py-2 rounded hover:bg-red-600 transition"
                            title="Limpiar">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>

                    <!-- Tarjeta del cliente -->
                    <div *ngIf="customer" class="bg-blue-50 rounded-lg p-3 shadow-sm text-sm border border-blue-200">
                        <h4 class="font-bold text-blue-800 flex items-center gap-2">
                            <span>👤</span> {{ customer?.nombre || '—' }}
                        </h4>

                        <div *ngIf="customer?.nombre && customer?.nombre !== 'Consumidor Final'" class="mt-1">
                            <p class="text-blue-700 text-xs leading-5">{{ customer?.telefono }}</p>
                            <p class="text-blue-700 text-xs leading-5">{{ customer?.correo }}</p>
                        </div>
                    </div>
                </div>




                <!-- <input type="text" placeholder="Buscar productos..." [(ngModel)]="searchTerm"
                    class="w-1/2 rounded border px-3 py-1 text-xs" /> -->
                <div class="overflow-x-auto whitespace-nowrap py-2">
                    <h2 class="text-lg font-semibold text-primary">Productos</h2>

                    <div class="inline-flex gap-2">
                        <button (click)="onCategorySelected('')" [class.bg-primary]="selectedCategory === ''"
                            class="text-xs px-3 py-1 border rounded hover:bg-primary hover:text-white transition shrink-0">
                            Todos
                        </button>
                        <button *ngFor="let category of categories" (click)="onCategorySelected(category.name)"
                            [class.bg-primary]="selectedCategory === category.name"
                            class="text-xs px-3 py-1 border rounded hover:bg-primary hover:text-white transition shrink-0">
                            {{ category.nombre }}
                        </button>

                    </div>
                </div>



                <div class="max-h-[50vh] overflow-y-auto">
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3 pb-5">
                        <div *ngFor="let product of filteredProductList" (click)="addProduct(product)" [ngClass]="{
        'cursor-pointer rounded border p-2 shadow-sm transition text-xs': true,
        'hover:bg-muted': !product.is_out_of_stock,
        'border-red-500 bg-red-50': product.is_out_of_stock
      }">
                            <h3 class="font-semibold text-foreground">
                                {{ product.nombre }}
                            </h3>

                            <!-- Etiqueta 'Agotado' discreta -->
                            <p *ngIf="product.is_out_of_stock" class="text-red-600 text-[10px] italic mb-1">
                                (Agotado)
                            </p>

                            <p class="text-muted-foreground">
                                <span *ngIf="product.descripcion">({{ product.descripcion }})</span>
                            </p>

                            <p class="text-muted-foreground text-lg">
                                ${{ product.precio | number: '1.2-2' }}
                            </p>
                        </div>
                        <tr *ngIf="filteredProductList.length === 0">
                            <td colspan="6" class="text-center py-6 text-gray-500 italic">
                                No hay ítems para mostrar.
                            </td>
                        </tr>
                    </div>
                </div>


            </div>

            <!-- RESUMEN DEL PEDIDO -->
            <div class="flex flex-col  h-full overflow-auto text-xs">
                <!-- Texto del ambiente -->
                <div>
                    <span class="text-lg font-semibold"
                        [ngClass]="ambiente === 'PRODUCCION' ? 'text-green-700' : 'text-yellow-600'">
                        Ambiente: {{ ambiente }}
                    </span>
                </div>
                <h2 class="text-lg font-semibold text-primary">Resumen</h2>

                <ng-container *ngIf="cart.length > 0; else emptyCart">
                    <div class="flex-grow overflow-auto space-y-1 max-h-[50vh] overflow-y-auto">
                        <div *ngFor="let item of cart" class="flex justify-between items-center border-b py-1 ">
                            <span class="font-medium text-foreground">
                                {{ item.nombre }} {{ item.descripcion ? '(' + item.descripcion + ')' : '' }} <span
                                    class="text-foreground font-normal">x{{ item.quantity }}</span>
                            </span>
                            <div class="flex items-center gap-2">
                                <button (click)="decrease(item)"
                                    class="w-6 h-6 rounded-full border text-foreground hover:bg-gray-100 flex items-center justify-center"
                                    title="Disminuir cantidad">
                                    <fa-icon icon="minus"></fa-icon>
                                </button>
                                <span class="w-5 text-center font-semibold">{{ item.quantity }}</span>
                                <button (click)="increase(item)"
                                    class="w-6 h-6 rounded-full border text-foreground hover:bg-gray-100 flex items-center justify-center"
                                    title="Aumentar cantidad">
                                    <fa-icon icon="plus"></fa-icon>
                                </button>

                                <strong class="ml-2 text-foreground">${{ item.total | number: '1.2-2' }}</strong>
                            </div>
                        </div>

                    </div>


                    <!-- TOTALES -->
                    <div class=" pt-4 space-y-1 text-xs text-foreground">
                        <p>Subtotal: ${{ subtotal | number: '1.2-2' }}</p>
                        <p>IVA (15%): ${{ iva | number: '1.2-2' }}</p>
                        <p class="text-base font-bold">Total: ${{ total | number: '1.2-2' }}</p>
                    </div>


                    <!-- BOTONES -->
                    <!-- BOTONES -->
                    <div class="space-y-2">
                        <button (click)="abrirModalPago()"
                            class="w-full rounded bg-primary px-4 py-2 text-white font-semibold hover:bg-primary/90 text-sm">
                            Crear Orden
                        </button>
                    </div>

                </ng-container>

                <ng-template #emptyCart>
                    <p class="text-xs text-muted-foreground">Aún no hay productos en la venta.</p>
                </ng-template>

            </div>

        </div>
    </div>
</div>

<!-- MODAL DE NUEVO CLIENTE -->
<div *ngIf="showCustomerModal" class="fixed inset-0 bg-black/30 flex items-center justify-center z-50">
    <div class="bg-white w-full max-w-md rounded shadow-lg p-4 text-xs relative">
        <button class="absolute top-2 right-3 text-lg" (click)="showCustomerModal = false">×</button>
        <h3 class="text-base font-semibold mb-2">Nuevo Cliente</h3>

        <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()" class="space-y-4">


            <!-- Tipo -->
            <div>
                <label class="block text-sm font-medium">Tipo de Identificación</label>
                <select formControlName="tipo_identificacion" class="w-full border rounded px-3 py-2 text-sm">
                    <!-- <option value="07 - Consumidor Final">Consumidor Final</option> -->
                    <option value="05 - Cedula">Cédula</option>
                    <option value="04 - RUC">RUC</option>
                </select>
                <div *ngIf="f['tipo_identificacion'].invalid && submitted" class="text-red-500 text-sm">
                    Seleccione un tipo válido.
                </div>
            </div>

            <!-- Identificación -->
            <div>
                <label class="block text-sm font-medium">Identificación</label>
                <input [attr.maxlength]="getMaxLength()" type="text" formControlName="num_identificacion"
                    class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['num_identificacion'].invalid && submitted" class="text-red-500 text-sm">
                    Campo requerido.
                </div>

                <div *ngIf="f['num_identificacion'].errors?.['cedulaInvalida'] && submitted"
                    class="text-red-500 text-sm">
                    La cédula debe tener 10 caracteres.
                </div>
                <div *ngIf="f['num_identificacion'].errors?.['rucInvalido'] && submitted" class="text-red-500 text-sm">
                    El RUC debe tener 13 caracteres.
                </div>
            </div>



            <!-- Nombre / Razón Social -->
            <div>
                <label class="block text-sm font-medium">Nombre / Razón Social</label>
                <input type="text" formControlName="nombre" class="w-full border rounded px-3 py-2 text-sm"
                    oninput="this.value = this.value.toUpperCase()" />
                <div *ngIf="f['nombre'].invalid && submitted" class="text-red-500 text-sm">
                    Campo requerido.
                </div>
            </div>

            <!-- Email -->
            <div>
                <label class="block text-sm font-medium">Email</label>
                <input type="email" formControlName="correo" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['correo'].invalid && submitted" class="text-red-500 text-sm">
                    Email inválido.
                </div>
            </div>

            <!-- Teléfono -->
            <div>
                <label class="block text-sm font-medium">Teléfono</label>
                <input maxlength="10" type="text" formControlName="telefono"
                    class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['telefono'].invalid && submitted" class="text-red-500 text-sm">
                    Teléfono inválido.
                </div>
            </div>

            <!-- Dirección -->
            <div>
                <label class="block text-sm font-medium">Dirección</label>
                <input type="text" formControlName="direccion" class="w-full border rounded px-3 py-2 text-sm" />
                <div *ngIf="f['direccion'].invalid && submitted" class="text-red-500 text-sm">
                    Dirección inválido.
                </div>
            </div>

            <!-- Botón -->
            <div class="pt-2">
                <button type="submit" class="bg-primary text-white px-4 py-2 rounded w-full disabled:opacity-50">
                    Guardar
                </button>
            </div>
        </form>


    </div>
</div>


<!-- MODAL DE PAGO -->

<div *ngIf="showPaymentModal" class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
    <div class="bg-white w-full max-w-5xl rounded-lg shadow-2xl p-8 relative text-base">
        <button class="absolute top-4 right-4 text-3xl font-light text-gray-500 hover:text-gray-700"
            (click)="showPaymentModal = false">×</button>

        <h2 class="text-2xl font-bold text-center text-gray-800 mb-4">Finalizar Pedido</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="space-y-6">
                <div class="bg-blue-50 rounded-lg p-2 shadow-sm text-sm border border-blue-200">
                    <h4 class="font-bold text-blue-800 ">👤 {{customer.nombre}}</h4>
                    <div *ngIf="customer.nombre != 'Consumidor Final'">


                        <p class="font-medium text-gray-800">{{ customer.num_identificacion }}</p>
                        <p class="text-blue-600 text-xs">{{ customer.telefono }}</p>
                        <!-- <p class="text-blue-600 text-xs">{{ customer.num_identificacion }}</p>
                         -->
                        <p class="text-blue-600 text-xs">{{ customer.correo }}</p>
                    </div>
                </div>

                <div class="bg-gray-50 rounded-md p-2 border max-h-[70vh] overflow-y-auto">
                    <h3 class="text-lg font-semibold text-gray-700 mb-2">🧾 Detalle del Pedido</h3>

                    <div *ngIf="cart.length > 0; else noItems" class="space-y-3 text-xs">
                        <div *ngFor="let item of cart"
                            class="flex justify-between items-center border-b border-gray-200 pb-2">
                            <div>
                                <p class="font-medium text-gray-800">{{ item.nombre }} {{item.descripcion ? '(' +
                                    item.descripcion + ')' : ''}}</p>
                                <p class="text-gray-600 text-xs">x{{ item.quantity }} • ${{ item.price | number: '1.2-2'
                                    }}</p>
                            </div>
                            <p class="font-semibold text-gray-800">${{ item.total | number: '1.2-2' }}</p>
                        </div>
                    </div>

                    <ng-template #noItems>
                        <p class="text-gray-500 text-sm italic">No hay productos en el carrito.</p>
                    </ng-template>

                    <div class="pt-4 text-sm space-y-2 text-gray-700">
                        <div class="flex justify-between"><span>Subtotal:</span><span class="font-medium">${{ subtotal |
                                number: '1.2-2' }}</span></div>
                        <div class="flex justify-between"><span>IVA (15%):</span><span class="font-medium">${{ iva |
                                number: '1.2-2' }}</span></div>
                        <div class="flex justify-between font-bold text-base border-t pt-2"><span>Total:</span><span>${{
                                total | number: '1.2-2' }}</span></div>
                    </div>
                </div>
            </div>

            <div class="space-y-6 flex flex-col justify-between">
                <div>
                    <div>
                        <label for="payment-method" class="block text-sm font-medium mb-1 text-gray-700">Método de
                            Pago</label>
                        <select id="payment-method" [(ngModel)]="paymentMethod" (change)="calcularCambio()"
                            class="w-full border border-gray-300 rounded-md px-4 py-2 text-base focus:outline-none focus:ring-2 focus:ring-primary">
                            <option [value]="item.codigo" *ngFor="let item of payments">{{ item.description ||
                                item.nombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="text-center">
                    <p class="text-lg text-gray-600">Total a Pagar</p>
                    <p class="text-5xl font-bold text-emerald-500">${{ total | number: '1.2-2' }}</p>
                </div>

                <div *ngIf="paymentMethod === '01'" class="space-y-4">
                    <div>
                        <label for="amount-received" class="sr-only">Monto entregado</label>
                        <input id="amount-received" type="number" [(ngModel)]="amountReceived"
                            (input)="calcularCambio()"
                            class="w-full border border-gray-300 rounded-md px-4 py-3 text-xl font-semibold text-center text-gray-800 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary"
                            placeholder="Ingrese monto entregado" />
                    </div>
                    <div class="text-center">
                        <p class="text-lg text-gray-600">Cambio</p>
                        <p class="text-5xl font-bold" [class.text-red-500]="change < 0"
                            [class.text-emerald-500]="change >= 0">
                            ${{ change | number: '1.2-2' }}
                        </p>
                    </div>
                </div>

                <div class="space-y-2">
                    <div>
                        <label for="alias-input" class="sr-only">Alias para la entrega</label>
                        <input id="alias-input" type="text" [(ngModel)]="alias"
                            oninput="this.value = this.value.toUpperCase()" maxlength="20"
                            class="w-full border border-gray-300 rounded-md px-4 py-3 text-xl font-semibold text-center text-gray-800 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-primary"
                            placeholder="Ingrese el nombre/alias para la entrega (Opcional)" />
                    </div>
                </div>

                <div class="flex space-x-4 mt-8">
                    <div class="flex-grow">
                        <app-button type="button" (click)="confirmarPago('Nota Venta')" full impact="bold"
                            tone="warning" shape="rounded" size="large">Nota de Venta</app-button>
                    </div>
                    <div class="flex-grow">
                        <app-button type="button" (click)="confirmarPago('Factura')" full impact="bold" tone="primary"
                            shape="rounded" size="large">Facturar</app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>