<div class="relative ml-3" clickOutside (clickOutside)="isOpen = false">
  <div class="flex items-center gap-2">
    <!-- Badge: Gerente -->
    <!-- <span *ngIf="roleUpper === 'GERENTE'"
          class="rounded px-2 py-0.5 text-[10px] font-semibold bg-emerald-100 text-emerald-700">
      Gerente
    </span> -->

    <span 
          class="rounded px-2 py-0.5 text-[10px] font-semibold bg-sky-100 text-sky-700">
      {{user.email}}
    </span>

    <!-- Badge: Cajero -->
    <!-- <span *ngIf="roleUpper === 'CAJERO'"
          class="rounded px-2 py-0.5 text-[10px] font-semibold bg-sky-100 text-sky-700">
      Cajero
    </span> -->

    <!-- Botón de perfil -->
    <button (click)="toggleMenu()" class="bg-card relative flex rounded-full text-sm" type="button">
      <span class="sr-only">Abrir menú de usuario</span>
      <img class="size-9 shrink-0 rounded-md" src="assets/images/userLogo.png"
           alt="Avatar de usuario" />
    </button>
  </div>

  <!-- Dropdown -->
  <div [@openClose]="isOpen ? 'open' : 'closed'"
       class="bg-background shadow-custom border-muted absolute z-20 mt-2 w-60 origin-top-right transform rounded-md border border-dashed py-4 ring-1 ring-transparent ring-opacity-5 transition focus:outline-hidden ltr:right-0 rtl:left-0">

    <!-- Header del dropdown -->
    <div class="flex-row flex items-center px-4 pb-4">
      <div class="w-10 shrink-0">
        <img class="rounded-md" src="assets/images/userLogo.png" alt="Avatar de usuario" />
      </div>
      <div class="text-foreground overflow-hidden px-2 text-sm">
        <span class="font-semibold truncate">{{ user.fullName }}</span>
        <p class="text-muted-foreground truncate text-ellipsis text-xs font-semibold">{{ user.email }}</p>

        <!-- Badge: Gerente -->
        <span *ngIf="roleUpper === 'GERENTE'"
              class="rounded px-2 py-0.5 text-[10px] font-semibold bg-emerald-100 text-emerald-700">
          Gerente
        </span>

        <!-- Badge: Cajero -->
        <span *ngIf="roleUpper === 'CAJERO'"
              class="rounded px-2 py-0.5 text-[10px] font-semibold bg-sky-100 text-sky-700">
          Cajero
        </span>

        <!-- Badge: Mesero -->
        <span *ngIf="roleUpper === 'MESERO'"
              class="rounded px-2 py-0.5 text-[10px] font-semibold bg-purple-100 text-purple-700">
          Mesero
        </span>
      </div>
    </div>

    <div class="border-border border-b border-dashed"></div>

    <!-- Items del menú -->
    <ul class="my-2 mx-2 flex flex-col">
      @for (item of visibleProfileMenu; track $index) {
        <li [routerLink]="item.link"
            (click)="isOpen = false"
            class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
          <svg-icon [src]="item.icon" [svgClass]="'h-5 w-5 text-muted-foreground/50'"></svg-icon>
          {{ item.title }}
        </li>
      }

      <!-- Logout -->
      <li (click)="logout()"
          class="text-muted-foreground hover:bg-card hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
        <svg-icon src="./assets/icons/heroicons/outline/logout.svg" [svgClass]="'h-5 w-5 text-muted-foreground/50'"></svg-icon>
        Cerrar Sesión
      </li>
    </ul>

    <hr class="border-border border-dashed" />
  </div>
</div>
